<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body>
    <!-- gives text of file -->
    <%= include('common/header'); %> 
    <!-- give html of file -->
    <%- include('common/header'); %>
    <h1>Name : <%=user.name%></h1>
    <ul>
        <% user.skill.forEach((item)=>{%>
            <li><%= item %></li>
        <% }) %>
    </ul>
</body>
</html>